*{
   font-family: Arial, Helvetica, sans-serif ;
}

h1, h2, h3,form {
    color: white;
}

body{
    margin-top: 25%;
   background-image: url(background.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.container{
  display: block;
  text-align: center;
  margin: auto;
  height: 500px;
  width:1000px;
}